# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

*.DS_Store
.idea
.vscode
*.o
*.a
.project
.cproject
.eclipse
workspace
